<footer class="border-top card-footer text-muted text-center">
    <div class="container">
        Copyright &copy; Book Store @DateTime.Now.Year
        @*<custom-email my-email="tejas@gmail.com"></custom-email>*@
    </div>
</footer>