################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStore_App/.vs/BookStore_App
/BookStore_App/BookStore_App/bin/Debug/netcoreapp3.1
/BookStore_App/BookStore_App/obj
/BookStore_App/BookStore_App/BookStore_App.csproj.user
/BookStore_App/BookStore_App/wwwroot/lib
/BookStore_App/BookStore_App/bin/Release/netcoreapp3.1
/BookStore_App/BookStore_App/wwwroot/jquery-validation-unobtrusive
/BookStore_App/BookStore_App/wwwroot/jquery-validate
/BookStore_App/BookStore_App/wwwroot/jquery-ajax-unobtrusive
/BookStore_App/BookStore_App/wwwroot/books/cover/google.jpg03849410-36e5-4458-99b3-4b458a08152e
