################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStore_App/.vs/BookStore_App
/BookStore_App/BookStore_App/bin/Debug/netcoreapp3.1
/BookStore_App/BookStore_App/obj
/BookStore_App/BookStore_App/BookStore_App.csproj.user
/BookStore_App/BookStore_App/wwwroot/lib
/BookStore_App/BookStore_App/bin/Release/netcoreapp3.1
/BookStore_App/BookStore_App/wwwroot/jquery-validation-unobtrusive
/BookStore_App/BookStore_App/wwwroot/jquery-validate
/BookStore_App/BookStore_App/wwwroot/jquery-ajax-unobtrusive
/BookStore_App/BookStore_App/wwwroot/books/cover/google.jpg03849410-36e5-4458-99b3-4b458a08152e
/BookStore_App/BookStore_App/wwwroot/books/gallery/f43f699c-3149-4b6e-a129-3b004880369f_cover_2.jpg
/BookStore_App/BookStore_App/wwwroot/books/gallery/dff401cc-0bf0-403e-84bc-ab65c7de800f_gallery_4.jpg
/BookStore_App/BookStore_App/wwwroot/books/gallery/d5715e16-1cf5-46ec-b19e-bb6156109aed_gallery_3.jpg
/BookStore_App/BookStore_App/wwwroot/books/gallery/d0fa425c-287e-4b62-83a2-8a47817a0254_gallery_2.jpg
/BookStore_App/BookStore_App/wwwroot/books/gallery/bf4d8e42-a475-4b17-84b0-665e9ca1d117_gallery_2.jpg
/BookStore_App/BookStore_App/wwwroot/books/gallery/baf3ebfc-26e0-402a-9a54-e24c899ecdfe_cover.jpg
/BookStore_App/BookStore_App/wwwroot/books/gallery/ae0baac0-2f16-415a-99be-fd4bf28334a8_cover.jpg
/BookStore_App/BookStore_App/wwwroot/books/gallery/9dc1b8ee-7e8d-4c26-8346-909cbc45e9a1_gallery_5.jpg
/BookStore_App/BookStore_App/wwwroot/books/gallery/4dbceffa-e796-4e96-9dfc-048fc1e06334_gallery_6.jpg
/BookStore_App/BookStore_App/wwwroot/books/gallery/4497b7a6-6f0e-4e6a-8763-ef27edf6db0d_gallery_1.jpg
/BookStore_App/BookStore_App/wwwroot/books/gallery/04475386-6f9a-4b59-8042-ea35583bf986_gallery_1.jpg
/BookStore_App/BookStore_App/wwwroot/books/cover/faf233e7-69c5-4cb8-a2bb-5b95394fdc14_cover_2.jpg
/BookStore_App/BookStore_App/wwwroot/books/cover/8adbff3c-3032-414e-b071-179a77a6d31f_gallery_3.jpg
/BookStore_App/BookStore_App/wwwroot/books/cover/1810013a-12a9-479b-8778-4b9d62d3a1fa_cover.jpg
/BookStore_App/BookStore_App/wwwroot/books/pdf
/BookStore_App/BookStore_App/wwwroot/books/gallery
/BookStore_App/BookStore_App/wwwroot/books/cover
