@model IEnumerable<BookModel>
@*either we can Pass the entire namespace or we can use this method also*@
<div class="container">
    <h4 class="display-4">All Book List</h4>
    <div class="row">

        @foreach (var book in Model)
        {
        <div class="col-md-4">
            <partial name="_bookThumbnail" model="@book" />
        </div>
        }
    </div>
</div>

@*for sending lot of data through url using anchor helper tag
        @{
        var parameters = new Dictionary<string, string>()
    {
            {"Name","Tejas" },
            {"Company","SplashGain" },
            {"appName","BookStore" }
        };
    }
        asp-all-route-data="@parameters"


    for goes at perticular div directly use fragment
    asp-fragment="similarBooks"
*@